html, body { 
    background-image: linear-gradient(to left top, #5d04b7, #3f1aa2, #241f8a, #0c1e72, #001b58, #031c5a, #061d5c, #091e5e, #23237b, #422597, #6520b1, #8c06c7); 
    font-family: Raleway;
    color: #ffffff;
}

.box { padding: 4% 4% }
.box:nth-child(3) { height: 86%}

.box a > img {
    max-width: 97%;
    border-radius: 10px;
}

section {
 position: relative;
 padding-top: 30px;
 padding-bottom: 30px;
}

h1 {
 font-size: 70px !important;
 font-weight: 700 !important;
 line-height: 1.2 !important;
 color: #fff;
 margin-bottom: 20px;
}

.mt-6 {
 margin-top: 3em;
}

.heading-work {
 margin-top: 1em;
}

.heading-work:after {
 content: " ";
 display: block;
 width: 100px;
 height: 2px;
 margin: 20px 0 20px;
 background: #2b90d9;
}

.box a > img {
 width: auto;
 max-width: 100%;
 height: auto;
 max-height: 100%;
}


.col-custom {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.no-gutters {
 padding-right: 0 !important;
 padding-left: 0 !important;
 margin-bottom: 10px;
}

.progress {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 overflow: hidden;
 font-size: .85rem;
 line-height: 1.2rem;
 text-align: center;
 color: #eceeef;
 background-color: #08c36ba8 !important;
 border-radius: 4px !important;
}

.progress-bar {
 background-color: #08c36ba8 !important;
 height: 2em !important;
}

.skill-list {
 margin-top: 10px;
}

.skill-list > p {
 margin-bottom: 0.2rem;
}

.row.no-grid-space {
 margin-right: 0;
}

img[src="images/logixal.png"] {
    width: 335px !important;
    height: 186px !important;
    margin-left: 6px !important;
}

/* .img-responsive {
    width: 100% !important;
    height: 14em !important;
}
 */
/*Media Queries */

@media only screen and (max-width: 600px) {
 h1 {
  font-size: 26px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  color: #fff;
  margin-bottom: 20px;
 }
 secttion {
  margin-top: 10px;
  margin-bottom: 10px;
 }
}
