section {
 position: relative;
 padding-top: 30px;
 padding-bottom: 30px;
}




h1 {
 font-size: 70px !important;
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
 font-weight: 700 !important;
 line-height: 1.2 !important;
 color: #555;
 margin-bottom: 20px;
}

.mt-6 {
 margin-top: 3em;
}

.heading-work {
 margin-top: 1em;
}

.heading-work:after {
 content: " ";
 display: block;
 width: 100px;
 height: 2px;
 margin: 20px 0 20px;
 background: #2b90d9;
}

.box a > img {
 width: auto;
 max-width: 325px;
 height: auto;
 max-height: 335px;
}

.no-gutters {
 padding-right: 0 !important;
 padding-left: 0 !important;
 margin-bottom: 10px; 
}
