* {
background-image: linear-gradient(to left top, #5f308e, #492c7f, #35286f, #22225e, #111c4d, #131f4f, #142152, #162454, #28316c, #3c3f85, #514d9e, #675bb7);
}

.box a > img {
    max-width: 97%;
    border-radius: 10px;
}

section {
 position: relative;
 padding-top: 30px;
 padding-bottom: 30px;
}

h1 {
 font-size: 70px !important;
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
 font-weight: 700 !important;
 line-height: 1.2 !important;
 color: #555;
 margin-bottom: 20px;
}

.mt-6 {
 margin-top: 3em;
}

.heading-work {
 margin-top: 1em;
}

.heading-work:after {
 content: " ";
 display: block;
 width: 100px;
 height: 2px;
 margin: 20px 0 20px;
 background: #2b90d9;
}

.box a > img {
 width: auto;
 max-width: 100%;
 height: auto;
 max-height: 100%;
}


.col-custom {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.no-gutters {
 padding-right: 0 !important;
 padding-left: 0 !important;
 margin-bottom: 10px;
}

.progress {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 overflow: hidden;
 font-size: .85rem;
 line-height: 1rem;
 text-align: center;
 
  -color: #eceeef;
 border-radius: 0 !important;
}

.progress-bar {
 background-color: #2196f3a8 !important;
 height: 2em !important;
}

.skill-list {
 margin-top: 10px;
}

.skill-list > p {
 margin-bottom: 0.2rem;
}

.row.no-grid-space {
 margin-right: 0;
}

img[src="images/logixal.png"] {
    width: 335px !important;
    height: 186px !important;
    margin-left: 6px !important;
}

/* .img-responsive {
    width: 100% !important;
    height: 14em !important;
}
 */
/*Media Queries */

@media only screen and (max-width: 600px) {
 h1 {
  font-size: 26px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  color: #555;
  margin-bottom: 20px;
 }
 secttion {
  margin-top: 10px;
  margin-bottom: 10px;
 }
}
